#main-logo{
    padding-top: 28px;
}

#main-logo h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #252525;
}

#main-logo h1:hover {
    animation: mymove .8s ease-in-out;
}

#main-logo h1:last-child{
    margin-top: -5px;
    margin-left: 1em;
    color: var(--color-nav);  
}

@keyframes mymove {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(8px);
    }
    66% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(0);
    }
}