/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

header {
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #49525F;   
}

header .header-container {
	position:fixed;    
    background-color: #C9C0B5;
	z-index: 20;
    width: 100%;
	height:12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .img-container img {
    margin-left: 20%;
    width: 181px;
    height: auto;
    cursor: pointer;
}

header #lista{
    display: flex;
    width: 50vw;
    margin-right: 8%;
    margin-left: 33%;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 8%;
    height: 100%;
}

header #lista .lista_link {
    color: var(--color-text);
    transition: all 0.3s ease;
}

/* ANIMAÇÃO HOVER */

header #lista .lista_link:hover  {
    color:  #151515;
    border-bottom: 1px solid #151515;
    cursor: pointer;
}

.active{
    border-bottom: 1px solid #151515;
    cursor: pointer;
    color:  #151515;
}

header #lista .lista_link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    transition: width .3s;
}

header #lista .lista_link:hover::after {
    width: 100%;
    transition: width .3s;
}

/* DRAWER NAVIGATION NA TELA MOBILE */

header .burger {
    display: none;
    cursor: pointer;
    z-index: 12;
}

header .burger div {
    width: 25px;
    height: 3px; 
    background-color: #d7d0c9;
    margin: 5px;
    transition: all 0.3s ease;
}

header .close {
    display: none;
    cursor: pointer;
    z-index: 12;
}

header .close div {
    width: 25px;
    height: 3px;
    background-color: #606350;
    margin: 5px;
    transition: all 0.5s ease;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 1024px) {
    header .img-container img {
        margin-left: 20%;
        width: 160px;
    }

    header .header-container {
        width: 100%;
    }

    header #lista {
        width: 86%;
        margin-top: -2%;
    }
}

@media only screen and (max-width: 880px) {
    header {
        font-size: 16px;
    }
    
    header #lista{
        margin-right: 0%;
        margin-left: 16%;
		font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: relative;
		text-align: center;	
    }

    header .img-container {
        margin: auto;
    }

    header .lista.nav-links {
        display: none;
    }

    header .burger {
        display: block;
        position: absolute;
        left: 25px;
    }

    header .close {
        display: block;
        position: absolute;
        left: 25px;
    }
    
    header .burger .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    header .burger .line2 {
        opacity: 0;
    }

    header .burger .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    header .open .lista_link {
        padding-left: 20%; 
    } 

    header .drawer {
        position: absolute;
        background-image: url(../../assets/frente-menu.png);
        left: -45%;
        top: 0;
        height: 100vh;
        width: 45%;
        padding-top: 40vh;
        padding-bottom: 80vh;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        filter: drop-shadow(-2px -5px 4px #bdbdbd);
        line-height: 4;
    }

    header .open-drawer .lista_link {
        padding-left: 44%;
    } 

    header .open-drawer {
        position: absolute;
        background-image: url(../../assets/frente-menu.png);
        left: -45%;
        top: 0;
        height: 100vh;
        width: 45%;
        padding-top: 40vh;
        padding-bottom: 80vh;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        filter: drop-shadow(1px 1px 4px #4F474C);
        line-height: 4;
    }
}

@media only screen and (max-width: 480px) {    
    header .burger {
        display: block;
        position: absolute;
        left: 15px;
    }

    header .close {
        display: block;
        position: absolute;
        left: 15px;
    }

	header #lista{    
		font-size: 18px;
    }

    header .drawer {
        position: absolute;
        background-color: #ECECEC;
        left: -25%;
        top: 0;
        height: 100vh;
        width: 70%;
        padding-top: 40vh;
        padding-bottom: 100vh;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 4;
    }
    
    header .open-drawer .lista_link {
        padding-left: 15%; 
    } 

    header .open-drawer {
        position: absolute;
        background-color: #ECECEC;
        left: -25%;
        top: 0;
        height: 100vh;
        width: 70%;
        padding-top: 40vh;
        padding-bottom: 100vh;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 4;
    }
}
